\documentclass{resume}

\usepackage{hyperref}
\usepackage{xcolor}
\urlstyle{same}
\hypersetup{
  colorlinks=true,
  breaklinks=true,
  linkcolor={orange!60!black},
  citecolor={orange!60!black},
  urlcolor={orange!60!black}
}


\definecolor{grey}{rgb}{0.5, 0.5, 0.5}

\usepackage{tgadventor}
\renewcommand{\familydefault}{\sfdefault}

\author{ [[ front.title ]] }

\address{

[% for line in front.address %]
\textcolor{grey}{[[ line ]]}\\
[% endfor %]
}
{
[% for line in front.details %]
\textcolor{grey}{[[ line ]]}\\
[% endfor %]
[% for c in front.contact %]
[[ url(c.href) ]]\\
[% endfor %]
}

\begin{document}

\maketitle

\begin{category}{Summary}
\citemnobullet [[ abstract ]]
\end{category}


\begin{category}{Timeline}
\citemnobullet

%% skip last section ("outside of work")
[% for sect in raw_sections[:-1] %]

\item[] \textbf{[[ sect.title ]]}\newline
\textcolor{grey}{\textit{[[sect.subtitle]]}}

[% endfor %]


\end{category}

[% for sect in sections %]

[[ sect ]]

[% endfor %]

\begin{category}{References}
\citemnobullet I am happy to provide references on request.
\end{category}

\end{document}
