/* screen.css
 *
 * A clean, simple stylesheet that aims for
 * a consistent vertical rhythm.
 *
 * AUTHOR: Mark Reid <mark@reid.name>
 */

:root {
    --caption:       silver;
    --caption-hover: grey;
    --link:          #a05000;
    --link-hover:    #ff9000;
}

[data-theme="dark"] {
    color-scheme:     dark;
    --caption:       grey;
    --caption-hover: silver;
    --link:          #ff9000;
    --link-hover:    #a05000;
}

html {
    scroll-behavior: smooth;
}


body {
	font-family: sans-serif
	background-position: center -18em;
	background-repeat: repeat-x;
}

a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover);
}

h1,h2,h3,h4 {
	line-height:1em;
	font-size:1.5em;
	font-weight: normal;
	clear: left;
}
h1 { margin-bottom: 1em; }
h2 {
	font-size: 100%;
	line-height: 1.5em;
	margin:1.5em 0 1.5em 0;
	font-weight:bold;
}

hr {
	border-top: 1px solid silver;
	border-bottom: none;
	padding: 0;
	margin: 1.46em 0 0 0;
}

sup {
    color: var(--caption);
    line-height: 1ex;
}

sup:hover {
    color: var(--caption-hover);
}

.post-text {
  text-align: justify;
}

#site {
	max-width: 46em;
	margin: 1.5em auto 3em auto;
	line-height:1.5em;
}

#page {
	padding: 3em 3em 1.5em 3em;
	border: 1px solid #ccc;
}


/* @group FancyFirst */
.emphnext + p:first-letter, p.emphfirst:first-letter {
	font-size: 48px;
	padding: 0 0.15em 0 0;
	margin:  0.05em 0 -0.15em 0;
	line-height: 1em;
	float: left;
}

.emphnext + p:first-line, p.emphfirst:first-line {
	/*font-variant: small-caps;*/
	font-size: larger;
}
/* @end */

.right { float: right; clear: left; }
.left { float: left; clear: right; }
.inset {
	border: 1px solid silver;
	padding: 2px;
	margin: 0em 0.8em 0.8em 0.8em;
}
.right.inset { margin-right: 0 !important; }
.left.inset { margin-left: 0 !important; }
.quiet {
	color: grey;
	font-size: 0.875em;
	line-height: 1.714em;
}
blockquote {
	padding: 0 2.8em;
	margin: 1.714em 0;
	color: #444;
	font-size: 0.875em;
	line-height: 1.714em;
}

.note {
	padding-top: 0.5em;
	background-color: #fafaff;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
/* @group Table */
table.neat {
	width: 80%;
	margin: 1.5em auto 1.5em auto;
	table-layout: fixed;
	border-spacing: 0;
}

caption {
	font-size: 0.875em;
	margin: 0.875em auto 0 auto;
	line-height: 1.14em;
	text-align: justify;
}

dt { font-weight: bold;}
dd { margin: 0 0 1.5em 0; text-align: justify; }

ul.compact { margin: 0; padding: 0;}
ul.compact li { list-style: ;
	list-style-type: square;
	list-style-position: inside;
}
ul.compact li span.date {
	display: none;
	color: grey;
	width: 20%;
}
ul.compact li a {
	width: 70%;
}
/* @end */

/* @group Header */
#header, #header a { color: silver; }
#header, #header a:hover { color: var(--link-hover); }
#header .hover { color: transparent; }
/* #header:hover a { color: black; text-shadow: #aaa 2px 2px 3px;} */
#header {
	position: relative;
	/*font-variant: small-caps;*/
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
}
#header h1 {
	margin-bottom: 0;
	line-height: 0.9em;
	display: block;
	font-weight: normal;
}

#header ul {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 100%;
	line-height: 1.6em;
	display: block;
	margin: 0;
	width: 50%;
	text-align: right;
}
#header ul li { display: inline; }
#header ul li a {
	padding: 0.4em 0.3em 0 0.3em;
	display: inline;
}

#header .byline {
	color: silver;
	font-size: 10pt;
	line-height: 75%
}

.date {
    font-style: italic;
    color: silver;
    float: right;
}

/* @group Footnotes */
.footnotes { color: var(--caption); }
.footnotes:hover { color: var(--caption-hover); }
.footnotes ol li {
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 75%;
	line-height: 1.5em;
}
.footnotes ol li > a { display: none; }
/* @end */

/* @group Sections */
.section {
	font-size: 87.5%;
	line-height: 1.43em;
	margin-bottom: 1.43em;
	margin-top: 1.43em;
	margin-left: 7.5em;
	padding-right: 3em;
}
.section h1 {
	font-family: Palatino, georgia, serif;
	font-size: 100%;
	line-height: 1.43em;
	position: absolute;
	width: 6em;
	max-width: 6em;
	margin-left: -7.5em;
	font-weight: bold;
	/*font-variant: small-caps;*/
}
.section p { margin-bottom: 1.43em; }

/* @end */

/* @group Footer */
#footer {
	margin-top: 0px;
	color: grey;
	font-size: 87.5%;
	line-height: 1.3em;
}
#footer address {
	position: relative;
	margin: .5em 0 0 0;
	text-align: right;
}
#footer a {
	color: var(--caption);
}
#footer a:hover {
	color: var(--link-hover);
}

#footer .copyright {
	position: absolute;
	left: 0;
	text-align: left;
	display: block;
}
#footer .engine {
	position: absolute;
	text-align: right;
	display: block;
	right: 0;
}
/* @end */



/* .prev-next */
.prev-next {
	position:relative;
}
.prev-next .next{
	float:right;
}


.s3_image_gallery_item  {
    list-style-type: none;
    display: inline-block;
    padding-left:   1px;
    padding-right:  1px;
    vertical-align: top;
}

.s3-strip {

    display: inline-block;
    vertical-align: middle;

    padding-top:    20px;
    padding-bottom: 20px;

    horizontal-align:center;
}


.s3-strip img {

    padding-left:   1px;
    padding-right:  1px;
    vertical-align: top;
}
