<div id="page">
	
  <h1 class="emphnext">{{ page.title }}</h1>

  <span class="date">{{ page.date | date_to_long_string }}</span>
  <br/>
  {{ content }}
  
  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
  {% endif %}
  </div>

  {% if page.picasa-album %}
  <div class="picasa-gallery" user_id="{{ site.author.picasa }}" album_id="{{ page.picasa-album }}">
  </div>
  {% endif %}
  
</div>
<!-- End Page -->
